
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.container {
	max-width: 600px;
	min-height: 100vh;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	padding: 20px;
	width: 100%;
}

.action-link {
	text-decoration: underline;
	cursor: pointer;
	display: inline-block;
	margin: 5px 0;
}

.big-button {
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

#image-container img {
	max-width: 100%;
}

input[type="file"] {
	/*opacity: 0;*/
	width: 1px;
	height: 1px;
	overflow: hidden;
}